apiVersion: apps/v1
kind: Deployment
metadata:
  name: spark-master
spec:
  replicas: {{ .Values.spark.master.replicas }}
  selector:
    matchLabels:
      app: spark-master
  template:
    metadata:
      labels:
        app: spark-master
    spec:
      containers:
        - name: spark-master
          image: {{ .Values.image.spark }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - /opt/spark/bin/spark-class
            - org.apache.spark.deploy.master.Master
          ports:
            - containerPort: {{ .Values.spark.master.webPort }}
            - containerPort: {{ .Values.spark.master.rpcPort }}
          env:
            - name: SPARK_MASTER_HOST
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: SPARK_LOCAL_IP
              valueFrom:
                fieldRef:
                  fieldPath: status.podIP
            - name: SPARK_MASTER_PORT
              value: "7077"
            - name: SPARK_MASTER_WEBUI_PORT
              value: "8080"
